@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    font-family: 'Lato',sans-serif;
    color: white;
    background-image: linear-gradient(
        0deg,rgb(247,247,247) 23.8%,
        rgb(252,221,221) 92%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-container {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  
  .bg-container img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    filter: blur(15px);
    -webkit-filter: blur(50px);
    transform: scale(1.1); 
  }

.music-countainer{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 190px 0;
    z-index: 10;
}

.img-container{
    position: relative;
    width: 110px;
}
.img-container::after{
    content:'';
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.img-container img{
    height: 110px;
    width: inherit;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-countainer.play  .img-container  img{
    animation-play-state: running;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big{
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus{
outline: 0;
}

.music-info{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4{
    margin: 0;
}

.music-countainer.play  .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container{
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress{
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
  }

  .track-wrapper{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
  }

 

@keyframes rotate{
    from{transform: rotate(0deg);}
    to{transform:rotate(360deg);}
}


@media only screen and (max-width:450px){
    .music-countainer{
        padding: 10px 3px;
    }
}
